@import '@styles/helpers';

@import '@components/Dropzone/Dropzone.module.scss';

.container {
  margin-top: 48px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 16px;
}

.submit {
  display: flex;
  justify-content: center;

  grid-column: span 2;
}

.dropzone {
  margin: 0;
}
