@import '../../styles/helpers';

.content {
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  .transaction {
    --shadow: #{rgba($n2, 0.15)};

    width: 480px;
    max-width: 100%;
    padding: 24px 36px;
    margin: auto;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    background-color: $n7;
    box-shadow: 0 0 8px 1px var(--shadow);

    @include dark {
      background-color: $n2;

      --shadow: #{rgba($n6, 0.15)};
    }

    .details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      width: 100%;

      .detail {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        column-gap: 10px;

        min-width: 0;

        .icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          color: white;

          &.amount {
            background-color: $s3;
          }
          &.network {
            background-color: $p4;
          }
        }

        .data {
          display: flex;
          flex-direction: column;
          min-width: 0;

          .title {
            @include caption-2;
            color: $n4;
          }
          .value {
            @include caption-bold-1;
            color: $n2;

            @include text-overflow;

            @include dark {
              color: $n6;
            }
          }
        }
      }
    }
    .description {
      @include caption-2;
      color: $n4;
      text-align: center;
    }

    .address-area {
      position: relative;

      width: 100%;

      .address {
        max-width: 100%;
        width: 100%;
        padding: 8px 16px;
        padding-right: calc(16px + 12px + 24px);
        border-radius: 4px;
        border: 1px solid $n6;
        margin: auto;

        text-align: center;
        @include body-bold-2;
        color: $n2;

        @include text-overflow;

        @include dark {
          border-color: $n3;

          color: $n6;
        }
      }
      .copy {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);

        transition: all 0.3s;

        color: $n4;

        &:hover {
          color: $n2;
        }

        @include dark {
          color: $n5;

          &:hover {
            color: $n7;
          }
        }
      }
    }
  }
}

.text {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.network {
  @include caption-bold-3;
  color: $n4;

  text-align: center;
}

.info {
  @include body-2;
  color: $n2;

  text-align: center;

  @include dark {
    color: $n5;
  }
}
