@import '../../styles/helpers';

.password-requirements {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 4px;

  margin: 12px 0 32px;

  .requirement {
    @include caption-bold-3;

    color: $p3;

    &::before {
      content: '✘';

      margin-right: 4px;
    }

    &.valid {
      color: $p4;

      &::before {
        content: '✔';
      }
    }
  }
}
