@import '@styles/helpers';

.main {
  padding: 32px;
  border-radius: 4px;

  background: $n8;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  @include dark {
    background: #17181b;
  }

  .button {
    fill: $n2;

    @include dark {
      fill: $n8;
    }
  }
}

.title {
  @include text-overflow;
}
