@import '../../helpers';

.top {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid $n6;

  @include dark {
    border-color: $n3;
  }
}

.title {
  margin-bottom: 32px;

  text-align: center;
}

.info {
  margin-bottom: 12px;

  @include caption-2;
  text-align: center;
  color: $n4;
}
