@import '@styles/helpers';

.container {
  display: flex;
  flex-direction: column;

  min-width: 0;
}

.banner {
  position: relative;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .picture {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    user-select: none;
  }

  .price {
    position: absolute;

    padding: 10px;
    border-radius: 6px;

    background: #ffffff;

    @include work-sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: $n1;

    &.left {
      left: 8px;
    }
    &.right {
      right: 8px;
    }
    &.top {
      top: 12px;
    }
    &.bottom {
      bottom: 12px;
    }
  }
}

.item {
  --outline-color: #{$n6};

  padding-top: 16px;
  padding-bottom: 16px;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  border: 1px solid var(--outline-color);

  @include dark {
    --outline-color: #{$n2};
  }

  .info {
    padding: 0 8px;

    display: flex;
    flex-direction: column;
    row-gap: 6px;

    color: $n2;

    @include dark {
      color: $n7;
    }

    .author {
      @include caption-bold-2;
      color: $p1;

      @include text-overflow;
    }

    .name {
      @include body-bold-2;

      @include text-overflow;
    }
  }

  .action {
    margin-top: 8px;
    border-top: 1px solid var(--outline-color);
    padding: 8px 8px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 12px;

    .sale {
      min-width: 0;

      display: flex;
      flex-direction: column;

      text-align: right;

      .items {
        @include caption-bold-2;

        @include text-overflow;
      }
      .description {
        @include caption-3-medium;

        @include text-overflow;
      }
    }
  }
}
